{% extends "base.html" %}
 
{% block titulo %} Sobre {% endblock %}
 
{% block conteudo %}
<div class="sobre-container">
<h1>Sobre a Livraria do Murilo</h1>
 
<img src="https://images.unsplash.com/photo-1532012197267-da84d127e765?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D%22
alt="Livraria"
width="500">
 
<img src="https://images.unsplash.com/photo-1699443817739-cf2f7cbcd18d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGxpdnJhcmlhfGVufDB8fDB8fHww%22
alt="Livraria 2"
width="500">
 
<p>
A <strong>Livraria do Murilo</strong> nasceu com proposta inspiradoras. Aaqui voce encontra livros de diversos generos, desde romances e ficção ate titulos academicos e de desenvolvimento pessoal.
</p>
 
 
</div>
{% endblock %}
 